<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="1">
      <ion-label class="font">En Espera</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label class="font">En Curso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label class="font">Completados</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
  <ion-card *ngFor="let tckt of ticketService.ticket" id="card">
    <ion-item>
      <ion-icon *ngIf="tckt.issue == 'Wi-Fi'" name="wifi-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Impresora'" name="print-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Correo'" name="mail-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Otro'" name="chatbubble-ellipses-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Software Multiplataforma'" name="layers-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Aplicacion Web'" name="layers-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Pagina Web'" name="newspaper-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Redes'" name="globe-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="tckt.issue == 'Camaras de Seguridad'" name="videocam-outline" slot="start"></ion-icon>
      <ion-label>{{tckt.issue}}</ion-label>
      <ion-button *ngIf="tckt.status == 'Completado'" fill="outline" slot="end" (click)="ticket_det()">Ver</ion-button>
    </ion-item>
    <ion-card-content>
      <h2>{{tckt.explicacion}}</h2>
      <p><b><i>{{tckt.sub_issue}}</i></b></p>
      <p><b>{{tckt.status}}</b></p>
      <p><i>{{tckt.fecha}}</i></p>
    </ion-card-content>
  </ion-card>
</ion-content>
