<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>Registrar Agente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #forma="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input name="nombre" required [(ngModel)]="this.agent.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido Paterno</ion-label>
      <ion-input name="apellido_p" required [(ngModel)]="this.agent.apellido_paterno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido Materno</ion-label>
      <ion-input name="apellido_m" required [(ngModel)]="this.agent.apellido_materno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="correo" required [(ngModel)]="this.agent.correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero de Telefono</ion-label>
      <ion-input name="telefono" type="number" required [(ngModel)]="this.agent.telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required [(ngModel)]="this.agent.password"></ion-input>
    </ion-item>
    <ion-item>
    <ion-button fill="clear" color="danger" (click)="presentPopover($event)">Acerca de las contraseñas...</ion-button>
  </ion-item>
    <ion-button expand="full" class="register-button" [disabled]="!forma.valid" (click)="registerAgent()">Registrar</ion-button>
  </form>
</ion-content>
