<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="this.generic.dismissModal(this.modal)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let clnt of clientControl.clients">
      <ion-item>
        <ion-label>
          <h2>{{clnt.nombre}}</h2>
          <h3>{{clnt.empresa}}</h3>
          <p>{{clnt.correo}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option  class="boton" color="danger" (click)="deactivateClient(clnt.correo)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>