<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <h6 class="title">¿Necesitas consultoría o soporte?</h6>
  </ion-item>
  <form #forma="ngForm">
    <ion-item *ngIf="loginService.datos[0]['agente'] || loginService.datos[0]['administrador']">
      <ion-label position="floating">ID del Cliente</ion-label>
      <ion-input name="id" [(ngModel)]="ticket.id_cliente"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>Prioridad</ion-label>
      <ion-icon slot="start" name="bookmark-outline"></ion-icon>
      <ion-select interface="popover" [(ngModel)]="ticket.prioridad" name="prioridad" required>
        <ion-select-option value="Baja">Baja</ion-select-option>
        <ion-select-option value="Media">Media</ion-select-option>
        <ion-select-option value="Alta">Alta</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Explícanos más sobre el problema</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Ingresar texto..." [(ngModel)]="ticket.explicacion" name="explicacion" required></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-button class="button1" fill="clear" (click)="sendTicket()" [disabled]="!forma.valid">Solicitar Servicio</ion-button>
    </ion-item>
  </form>
</ion-content>